test(color=red)
  border solid 1px color

primario()
  color #6866AE

secundario()
  color #C54E9D

@import url('https://fonts.googleapis.com/css?family=Lato');

body
  background-color white
  font-size 16px

h1,h2,h3,h4,p
  font-family 'Lato', sans-serif

.cuerpo
  background-color: red
  box-shadow 10px 10px 5px #888888

.txtPeque
  font-size 0.7rem

.row
    border solid 1px blue

.column
    border solid 1px blue

#barraNav
    background-color rgba(104, 102, 174, 0.3)

.fi-social-facebook, .fi-social-twitter, .fi-social-instagram
    color white

#menu-container li a:hover
  color #C54E9D
  font-family 'Lato', sans-serif

// IMAGEN FRONT
#slide
    background-image url("../img/Slide01.jpg")
    background-size cover
    background-repeat no-repeat
    height 330px
    padding 0

#leyenda h2,h4
  primario()
  text-align right
  font-weight bold
#leyenda h4
  secundario()

// SLIDE
.orbit li p
  font-size: .8rem
  secundario()
.orbit-bullets button
  background-color: rgba(104,102,174,0.65)
.orbit-bullets button.is-active
  background-color: #C54E9D

// QUE HACEMOS
#pEsteril
    background-image url("../img/cuadro01.jpg")
    background-size cover
    height 230px
#eInfertilidad
    background-image url("../img/cuadro02.jpg")
    background-size cover
    height 230px
#tFertilidad
    background-image url("../img/cuadro03.jpg")
    background-size cover
    height 230px
