doctype html
html.no-js(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Repromed una aventura por comenzar
    link(rel='stylesheet', href='icons/foundation-icons.css')
    link(rel='stylesheet', href='css/foundation-flex.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css')
    link(rel='stylesheet', href='app.css')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

  body
    //- social & adress
    section#social-container.txtPeque
      #barraNav.row.align-center.text-center.expanded
        .column.small-12.shrink
          a(href='#')
            i.fi-social-facebook
        .column.small-12.shrink
          a(href='#')
            i.fi-social-twitter
        .column.small-12.shrink
          a(href='#')
            i.fi-social-instagram
        .column.small-5
          a(href="https://www.google.com.ec/maps/place/0%C2%B010'11.9%22S+78%C2%B029'02.9%22W/@-0.169969,-78.4846932,19z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d-0.169969!4d-78.484146?hl=es")
            i.fi-home &nbsp; Vicente Cárdenas E4-133 y Av. Amazonas. Edificio Ofimedic 7mo piso. Consultorio 7A
        .column.medium-2
          a(href='tel:025111166')
            i.fi-telephone &nbsp; 025 111 166 &nbsp;
          a(href='tel:0992783149')
            i.fi-telephone &nbsp; 0992 783 149
        .column.medium-2
          a(href='mailto:c.hurtado@repromed.com.ec')
            i.fi-mail &nbsp; c.hurtado@repromed.com.ec
    //- menu navigator
    section#menuNav
      .row.align-justify
        .column.medium-2
          img(src='logoRepro.svg', width='80%', alt='')
        #menu-container.column.medium-8
          ul.menu.text-center
            li
              img(src='icons2/hospital.svg', width='30px', alt='')
              a(href='/homepage') Home
            li
              img(src='icons2/pastillas.svg', width='10%', alt='')
              a(href='/ques')  Qué es Repromed
            li
              img(src='icons2/tratamientos.svg', width='10%', alt='')
              a(href='/tratamientos')  Tratamientos
            li
              img(src='icons2/doctores.svg', width='10%', alt='')
              a(href='#equipoMedico')  Equipo Médico
            li
              img(src='icons2/cita.svg', width='10%', alt='')
              a(href='#agenda')  Cita Médica
        //- foto Front
    section#slide.row.align-right
      .column.small-12.boxSlide
      #leyenda.column.small-8.align-self-middle
        h2 Queremos darte un comienzo
        h4 para la aventura más increíble de tu vida..
        //- texto
    .row#datosSlide
      .column.orbit(role='region', aria-label='Favorite Text Ever', data-orbit='')
        ul.orbit-container
          .orbit-previous
          li.is-active.orbit-slide
            div
              p.text-center Se estima que un 10 a 15 % de las parejas en edad fértil tendrán algún inconveniente a la hora de concebir hablamos de 6080 millones de parejas en todo el mundo
          li.orbit-slide
            div
              p.text-center El proceso reproductivo en la especie humana es altamente ineficaz comparado con otras especies animales. El momento de máxima fecundidad suele ser los primeros meses que una pareja busca la gestación (20 – 25% de embarazo por ciclo), de modo que  al cabo de 36 meses, dos terceras partes de las parejas han logrado embarazo.
          li.orbit-slide
            div
              p.text-center Los factores etiológicos de la infertilidad se distribuyen casi por igual entre los miembros de la pareja: un 30% de los casos se deben a causas masculinas, un 30% a problemas de la mujer, y un 15 a 30 % a factores mixtos. Existe aproximadamente un 10% de las parejas en las que todas las pruebas actuales para el estudio de la infertilidad, son normales y por lo  tanto no encontramos causa alguna de su problema. Es lo que se denomina esterilidad de origen desconocido o sin causa aparente.
        nav.orbit-bullets
          button.is-active(data-slide='0')
            span.show-for-sr First slide details.
            span.show-for-sr Current Slide
          button(data-slide='1')
            span.show-for-sr Second slide details.
          button(data-slide='2')
            span.show-for-sr Third slide details.

      //- QUE HACEMOS
    section#queHacemos
      .row
        .column#pEsteril.small-12.medium-4.vertical
          .div
            p Qué se entiende por
            h3 Pareja Estéril
            a.button(href='#') entrar
        .column#eInfertilidad.small-12.medium-4.vertical
          .div
            p Estudios de
            h3 Infertilidad </br>
            a.button(href='#') entrar
        .column#tFertilidad.small-12.medium-4.vertical
          .div
            p Tratamientos de
            h3 Fertilidad </br>
            a.button(href='#') entrar

      //- EQUIPO MEDICO
    section#equipoMedico.equipoMedico
      .row
        .medium-8.infoDoc#infoDoc-content
          .column.small-6#dr
            img(src="drHurtado.jpg")
          .column.small-6
            h3 Dr.
            h2 Carlos Alberto Hurtado Montero
            h4 Infertilidad
            p.textos El poder brindar una atención oportuna e individualizada a aquellas parejas que se encuentran en busca de embarazar es el principal objetivo. Para esto es primordial mantener un dialogo claro para escoger la mejor opción de tratamiento para cada caso. La paciente siempre contara con el acompañamiento adecuado para el seguimiento de su terapia de reproducción asistida.
            h4#estudios Estudios
            p.textos Médico Cirujano – Pontificia Universidad Católica del Ecuador Especialista en Ginecología y Obstetricia – Pontificia Universidad Católica del Ecuador Master en Reproducción Humana Asistida – Universidad Rey Juan Carlos, Instituto Valenciano de Infertilidad – IVI. España
        .column.small-12.medium-4#agenda
          h4 Agende su cita
          p.textos Te animas a emprender el viaje de tu vida, reserve su cita médica. Estaremos gustosos de atenderlo
          form(action="https://formspree.io/nevomen@gmail.com", method="POST", novalidate, data-abide)
            .row.columns.small-12.text-center.error-container(style='display:none', data-abide-error)
              p
                i.fi-alert  Ingresó un correo no válido
            .row.columns.small-12
              .input-group
                .input-group-label
                  i.fi-torso
                input(type='text', name='Nombres' placeholder='Nombres y apellidos')
            .row.columns.small-12
              .input-group
                .input-group-label
                  i.fi-telephone
                input(type='tel', name='Teléfono' placeholder='No. telefónico')
            .row.columns.small-12
              .input-group
                .input-group-label
                  i.fi-home
                input(type='text', name='Dirección' placeholder='Dirección')
            .row.columns.small-12
              .input-group
                .input-group-label
                  i.fi-mail
                input(type='email', name='email' placeholder='tu@correo.com')
            .row.columns.small-12
              textarea.mensaje(name='Mensaje' placeholder='Mensaje', required)
              .input-group-button
                input.button(type='submit', value='Enviar')
          //- FOOTER
    section#footer-container.footer
      .row
        .column.small-3
          h5 Sobre Repromed
          a(href="#") Inseminación Artificial
          a(href="#") Fecundación In Vitro FIV
          a(href="#") Congelación de Embriones
        .column.small-3
          h5 Últimos Tweets
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p https://t.co/YAmpOlbk18
          p Tuesday Jul 26 - 10:28am
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p https://t.co/YAmpOlbk18
          p Tuesday Jul 26 - 10:28am
        .column.small-3
          h5 Artículos Recientes
          a(href='#') Inseminación Artificial
          a(href='#') Fecundación In Vitro FIV
          a(href='#') Congelación de Embriones
          a(href='#') Inseminación Artificial
          a(href='#') Fecundación In Vitro FIV
          a(href='#') Congelación de Embriones
        .column.small-3
          h5 Oficinas
          p Vicente Cárdenas E4-133 y Av. Amazonas. Edificio Ofimedic 7mo piso. Consultorio 7A. 0992 783 149 c.hurtado@repromed.com.ec
          .map(data-interchange="[map.html, medium]")
    script(src='../js/vendor/jquery.js')
    script(src='../js/vendor/what-input.js')
    script(src='../js/vendor/foundation.js')
    script(src='../js/app.js')
    script(type='application/javascript' src='app.js')
